
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">formSection</td>
      <td class="doc-td" data-column="Description">Wrapper element for a set of inputs and controls</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">sectionHeader</td>
      <td class="doc-td" data-column="Description">Title element for a component</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">sectionBody</td>
      <td class="doc-td" data-column="Description">Primary content of a form; typically, a set of inputs</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">formField</td>
      <td class="doc-td" data-column="Description">Input element wrapper</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">inputLabel</td>
      <td class="doc-td" data-column="Description">Label for an input element</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">input</td>
      <td class="doc-td" data-column="Description">Input element</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">selectInput</td>
      <td class="doc-td" data-column="Description">Dropdown element</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">hint</td>
      <td class="doc-td" data-column="Description">Text that is used to explain a requested user action</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">a</td>
      <td class="doc-td" data-column="Description">Styled 'a' tag</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">button</td>
      <td class="doc-td" data-column="Description">Styled button</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">sectionFooter</td>
      <td class="doc-td" data-column="Description">Secondary content for a form; typically, navigation and actions</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">sectionFooterPrimaryContent</td>
      <td class="doc-td" data-column="Description">Element containing the primary user action; typically, the submit button on the right side</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">sectionFooterSecondaryContent</td>
      <td class="doc-td" data-column="Description">Element containing the secondary user action(s); typically, navigation on the left side</td>
    </tr>

