<table class="doc-table">
  <thead class="doc-thead">
    <tr class="doc-tr">
      <th class="doc-th">CSS Class Name</th>
      <th class="doc-th">Description</th>
    </tr>
  </thead>
  <tbody class="doc-tbody">
    {% include ui-classes-base-rows.html %}
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyAlert</td>
      <td class="doc-td" data-column="Description">Wrapper for the error display element</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyAlertBody</td>
      <td class="doc-td" data-column="Description">Body for the error display element</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyAlertIcon</td>
      <td class="doc-td" data-column="Description">Error display icon styling</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyAlertMessage</td>
      <td class="doc-td" data-column="Description">Error display message styling</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyAlertClose</td>
      <td class="doc-td" data-column="Description">Error display close button styling</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyIonicInput</td>
      <td class="doc-td" data-column="Description">Input element (Ionic only)</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyIonicSelect</td>
      <td class="doc-td" data-column="Description">Dropdown element (Ionic only)</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyIonicPhoneContent</td>
      <td class="doc-td" data-column="Description">Phone number input wrapper (Ionic only)</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyIonicInputPhone</td>
      <td class="doc-td" data-column="Description">Input element for phone number (Ionic only)</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="CSS Class Name">amplifyIonicGrid</td>
      <td class="doc-td" data-column="Description">Grid element (Ionic only)</td>
    </tr>
  </tbody>
</table>

