
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">formSection</td>
      <td class="doc-td" data-column="Type">Wrapper element for a set of inputs and controls</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">sectionHeader</td>
      <td class="doc-td" data-column="Type">Title element for a component</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">sectionBody</td>
      <td class="doc-td" data-column="Type">Primary content of a form; typically, a set of inputs</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">formField</td>
      <td class="doc-td" data-column="Type">Input element wrapper</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">inputLabel</td>
      <td class="doc-td" data-column="Type">Label for an input element</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">input</td>
      <td class="doc-td" data-column="Type">Input element</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">hint</td>
      <td class="doc-td" data-column="Type">Text that is used to explain a requested user action</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">a</td>
      <td class="doc-td" data-column="Type">Styled 'a' tag</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">button</td>
      <td class="doc-td" data-column="Type">Styled button</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">sectionFooter</td>
      <td class="doc-td" data-column="Type">Secondary content for a form; typically, navigation and actions</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">sectionFooterPrimaryContent</td>
      <td class="doc-td" data-column="Type">Element containing the primary user action; typically, the submit button on the right side</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">sectionFooterSecondaryContent</td>
      <td class="doc-td" data-column="Type">Element containing the secondary user action(s); typically, navigation on the left side</td>
    </tr>

